<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!---Title-->
    <title>Galleria - Home-1</title>

    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,800,700' rel='stylesheet' type='text/css'>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="Content/img/favicon.ico">
    <!--Main Style CSS-->
    <link href="style.css" rel="stylesheet">
    <!--Modernizr js-->
    <script src="Scripts/vendor/modernizr-2.8.3.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Preloader -->
    <div class="loader">
        <div class="status">
        </div>
    </div>
    <!--End of Preloader -->
    <!--Header Top Area Strat-->
    <header>
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                        <div class="header-top-left-menu">
                            <nav>
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i>My Account</a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i>Wish List <span>(0)</span></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i>Shopping Cart</a></li>
                                    <li><a href="#"><i class="fa fa-share-square-o"></i>Checkout</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="header-top-right-menu">
                            <nav>
                                <ul>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">USD<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">&euro; EURO</a></li>
                                            <li><a href="#">&pound; POUND</a></li>
                                            <li><a href="#">&yen; YEN</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="Content/img/flag.png" alt="">English<i class="fa fa-angle-down"></i></a>
                                        <ul class="dropdown-menu lang">
                                            <li><a href="#">USA</a></li>
                                            <li><a href="#">UK</a></li>
                                            <li><a href="#">GERMAN</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-main-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="contact-info-header">
                            <div class="contact-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="contact-text">
                                <p>+88 (012) 564 979 56</p>
                                <span>We are open 9 am - 10pm</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="logo">
                            <a href="#"><img src="Content/img/logo.png" alt="Galleria"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="register">
                            <ul>
                                <li><a href="#"><i class="fa fa-share-square-o"></i>Login</a></li>
                                <li><a href="#"><i class="fa fa-lock"></i>Register</a></li>
                            </ul>
                            <ul class="header-main-right">
                                <li>
                                    <a href="cart.html" class="cart"><i class="fa fa-shopping-cart"></i><span>2</span></a>
                                    <div class="mini-cart-content">
                                        <div class="mini-top-sec">
                                            <div class="cart-image">
                                                <a href="#"><img src="Content/img/cart-1.jpg" alt=""></a>
                                                <span class="quantity">1</span>
                                            </div>
                                            <div class="cart-info">
                                                <a href="#"><p>Aenean Sagittis</p></a>
                                                <p class="cart-price">£300.00</p>
                                            </div>
                                            <div class="product-cancel">
                                                <a href="#"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </div>
                                        <div class="mini-top-sec">
                                            <div class="cart-image">
                                                <a href="#"><img src="Content/img/cart-2.jpg" alt=""></a>
                                                <span class="quantity">2</span>
                                            </div>
                                            <div class="cart-info">
                                                <a href="#"><p>Etiam Eu Neque</p></a>
                                                <p class="cart-price">£500.00</p>
                                            </div>
                                            <div class="product-cancel">
                                                <a href="#"><i class="fa fa-times-circle"></i></a>
                                            </div>
                                        </div>
                                        <div class="mini-bottom-sec">
                                            <p class="total-amount">AMOUNT <span>£800.00</span></p>
                                            <div class="button"><a href="checkout.html">CHECKOUT</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="search-form">
                            <form id="search-form" action="#">
                                <input type="search" placeholder="" name="s" />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>



    <!--Page content start-->
    @RenderBody()
    <!--Page content end-->
    <!--Footer Area Start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="footer-left">
                        <p>Copyright &copy; 2015<a href="#">BootExpert</a>. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="footer-right">
                        <nav>
                            <ul id="footer-menu">
                                <li><a href="#">Site Map </a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Wish List</a></li>
                                <li><a href="#">Newsletter</a></li>
                                <li><a href="#">Specials</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End of Footer Area-->
    <!-- jQuery js-->
    <script src="Content/js/vendor/jquery-1.11.3.min.js"></script>
    <!--Bootsrap-->
    <script src="Content/js/bootstrap.min.js"></script>
    <!--Owl Carousel js-->
    <script src="Content/js/owl.carousel.min.js"></script>
    <!--Meanmenu js-->
    <script src="Content/js/meanmenu.js"></script>
    <!--Rev Slider-->
    <script src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="rs-plugin/js/jquery.themepunch.activate.js"></script>
    <!--Scroll Up js-->
    <script src="Content/js/jquery.scrollUp.min.js"></script>
    <!--Price Slider js-->
    <script src="Content/js/price-slider.js"></script>
    <!--Countdown js-->
    <script src="Content/js/jquery.countdown.min.js"></script>
    <!--jQuery Knob js-->
    <script src="Content/js/jquery.knob.js"></script>
    <!--jQuery Throttle js-->
    <script src="Content/js/jquery.throttle.js"></script>
    <!--Classi Caountdown js-->
    <script src="Content/js/jquery.classycountdown.js"></script>

    <!--Active js-->
    <script src="Content/js/main.js"></script>
</body>
</html>